body {
  font-family: 'Open Sans', Sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #007bad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  margin: 0px auto;
  width: 900px;
}

.navBackground {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  height: 4em;
  margin-bottom: 15px;
}

.navLinks {
  float: right;
  list-style: none;
  line-height: 2em;
}

.navLinks li {
  float: left;
  margin-right: 20px;
}

h1.title {
  display: inline;
  font-size: 2em;
  line-height: 2em;
  margin: 0px;
}

h2 {
  font-size: 1.3em;
  margin: 0px;
}

.elem {
  margin-bottom: 5px;
}

#content {
  margin: 0px auto;
  width: 900px;
}

table.data {
  border-spacing: 0;
}

table.data td {
  padding: 2px 5px;
}

table.data th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.bigForm .label, .bigForm input[type="text"], .bigForm input[type="submit"] {
  font-size: 1.5em;
}

table.data tr:nth-child(even) {
  background-color: #eee;
}
