body {
  font-family: 'Open Sans', Sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #007bad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  margin: 0px auto;
  width: 900px;
}

.navBackground {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  height: 4em;
  margin-bottom: 15px;
}

.navLinks {
  float: right;
  line-height: 2em;
}

.horizList {
  list-style: none;
  overflow: auto;
}

.horizList li {
  float: left;
  margin-right: 20px;
}

#filters {
  height: 30px;
}

#filters h3 {
  display: inline;
  font-size: 1em;
  float: left;
  line-height: 30px;
  margin: 0px;
  margin-right: 20px;
}

#filters ul {
  display: inline;
}

#filters input[type="range"] {
  float: left;
  margin: 0px;
  margin-top: 5px;
  margin-right: 5px;
}

#filters .label {
  float: left;
  line-height: 30px;
  margin-right: 10px;
}

#filters li {
  width: 300px;
}

h1.title {
  display: inline;
  font-size: 2em;
  line-height: 2em;
  margin: 0px;
}

h2 {
  font-size: 1.3em;
  margin: 0px;
}

.elem {
  margin-bottom: 5px;
}

#content {
  margin: 0px auto;
  width: 900px;
}

#entityList {
  float: left;
  width: 890px;
  margin: 0px auto;
}

table.data {
  border-spacing: 0;
}

table.data td {
  padding: 2px 5px;
}

table.data th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.bigForm .label, .bigForm input[type="submit"] {
  font-size: 1.5em;
}

.bigForm input[type="text"] {
  border: 1px solid #ccc;
  font-size: 1.5em;
  padding: 0px;
  padding-left: 3px;
}

table.data tr:nth-child(even) {
  background-color: #eee;
}
