<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/psyduck.css') }}" />
  </head>
  <body>
    <div class="navBackground">
      <div class="nav">
        <h1 class="title">{{ title }}</h1>
        <ul class="navLinks">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('crosswikis') }}">Crosswikis</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
