{% extends "base.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/crosswikis.js') }}">
  </script>
  <script>$(document).ready(init);</script>
{% endblock %}

{% block body %}
  <form action="{{ url_for('crosswikis') }}" method="get" class="elem bigForm">
    <span class="label">Search for entities:</span>
    <input type="text" size=30 name="arg">
    <input type="submit" value="Search">
  </form>
  {% if entities != None %}
    <h2 class="elem">Results</h2>
    {% if entities is zerolength %}
      <span class="elem">No results</span>
    {% else %}
      <div id="filters">
        <h3>Filters</h3>
        <form action="" name="filters">
          <ul class="horizList">
            <li>
              <span class="label">Probability</span>
              <input id="cprobSlider" type="range" min="0" max="1"
                step="0.05" value="0"
              />
              <span id="cprobValue" class="rangeValue">&ge; 0</span>
            </li>
            <li>
              <span class="label">Count</span>
              <input id="countSlider" type="range" min="0" max="2500"
                step="100" value="0"
              />
              <span id="countValue" class="rangeValue">&ge; 0</span>
            </li>
        </form>
      </div>
      <table id="entityList" class="elem data">
        <tr><th>Entity</th><th>Probability</th><th>Count</th></tr>
        {% for entity in entities %}
          <tr class="entity">
            <td>
              <a href="http://en.wikipedia.org/wiki/{{ entity.title }}">
                {{ entity.title }}
              </a>
            </td>
            <td>{{ entity.cprob }}</td>
            <td>{{ entity.count }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
